item:before{content: "Item:";}
dishName:before{content:"Name: "}
feature:before{content:"Feature: "}
fatGrams:before{content: "Fat Grams: ";}
description:before{content: "Description: \"";}
description:after{content: "\"";}


item{
    display: block;
    font-size: large;
    width: 650px;
    border-width: 5px;
    border-style: dotted;
    border-color: green;
    background-color: lightblue;
    padding: 1em;
}
dishName{
    display: block;
    color: red;
}
features{
    display: block;
    color: blueviolet;
}
fatGrams{
    display: block;
    color: crimson;
}
description{
    display: block;
    color: deeppink;
}   